
/* header section */

.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.navbar{
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 50px;
  /* margin-bottom: 30px; */
  /* background-color: #01937c;/ */
  text-align: center;
}

.end-section {
  background-color: red;
  margin: 20px 10px;
}

/* footer section */
footer{
  padding-top: 100px;
  text-align: center;
  background-color: red;
}

.footer{
    background-color: #01937c;
}
.social{
    background-color: red;
  text-align: center;
}
