body {
	background: url(background.jpg);
	margin-left: 0px;
	margin-top: 0px;
	background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color:#FFFFFF;
}

td {
  padding-top: 1em;
   padding-bottom: 2em;

  color: #FFFFFF;
  /* margin-bottom: 100px; */
  /* padding: 7px; */
  text-decoration: none;
  border: none;
}

#Table{
  text-align: center;
  margin-left:620px;
  text-decoration: none;
}

#subject{
  color:yellow;
  text-align: center;
  text-decoration: none;
}

/* inside different subjects */

#quizName{
  color: #FFFFFF;
  text-align: center;
}

#topic{
  color: yellow;
  text-decoration: none;
}