h1{
  text-align: center;
  padding-bottom: 20px;
}

table {
    border: 1px solid #CCC;

    border-collapse: separate;
    /* border-collapse: collapse; */
    border-spacing: 10px;
    padding-bottom: 40px;
}

td {
  padding-top: 1em;
   padding-bottom: 2em;
  text-align: center;
  /* margin-bottom: 100px; */
  /* padding: 7px; */
  border: none;
}

/* .subjects{
  text-align: center;
  margin-bottom: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
} */
